body,
html {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; 
}

h2{
  font-family: 'Sansita Swashed', cursive;
}

#navbar {
    overflow: hidden;
    background-color: white;
    padding: 50px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
  }
  
  #navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  #navbar #logo {
    font-size: 25px;
    font-weight: bold;
    transition: 0.4s;
  }
  
    #navbar-right a:hover {
    background-color: #df4449;
    color: white;
  }
  
#navbar-right {
    float: right;
  }

  .footer-text a{
    color: blue;
  }
  
  .container a{
    color: blue;
  }

  .footer-text a:hover{
    color: #df4449;
    text-decoration: none;
    border-radius: 4px;    
  }



.masthead {
    height: 90vh;
    min-height: 500px;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  /* DEMO GENERAL ============================== */
.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
  }
  
  .hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
  }
  
  .hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
  }
  
  .hover-content {
    position: relative;
    z-index: 99;
    
  }
  
  
  /* DEMO 1 ============================== */
  .hover-1 img {
    
    width: 105%;
    position: absolute;
    top: 0;
    left: -5%;
    transition: all 0.3s;
  }
  
  .hover-1-content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    transition: all 0.4s;
  }

  
  .hover-1-description {
    transform: translateY(0.5rem);
    transition: all 0.4s;
    opacity: 0;
  }
  
  .hover-1:hover .hover-1-content {
    bottom: 2rem;
  }
  
  .hover-1:hover .hover-1-description {
    opacity: 1;
    transform: none;
  }
  
  .hover-1:hover img {
    left: 0;
  }
  
  .hover-1:hover .hover-overlay {
    opacity: 0;
  }

  /* FOR MENU */
table {
	width: 90%;
	border-collapse: collapse;
	}

td {
	padding:1em 0 0 0;
	vertical-align:bottom;
	background-image:radial-gradient(black 1px, white 0px);
	background-size: 8px 8px;
	background-repeat:repeat-x;
	background-position: left bottom;
	}
	
td:first-child {
	text-align: left;
	font-weight: 700;
	}
	
td:first-child span{
	padding-right:.25em;
	}

td:last-child {
	text-align:right;
	width:3em;
  }
  	
td:last-child span{
	padding-left:.25em;
  }
  

/*HOVERING EFFECTS FOR MENU BUTTONS */

  .hoverable{

    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
  }
  
  .hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  
  .hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
  }
  .hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
  }
  
  
  
  @keyframes bounce-animation {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
  
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
  }
  
  
  @media (min-width: 768px) {
    .navbar{
      text-align: center !important;
    }
  }
  
  nav {
    background: none !important;
    text-transform:uppercase;
   
  }
  
  .page-title {
    opacity: .75 !important;
  }


  